$dark: #373737;
$primary: #eee037;
$secondary: #fefefe;

body {
  overflow-x: hidden;
  background-color: $secondary;
  margin: 0;
}

#root {
  height: 100vh;
  width: 100vw;
}

.steps-list {
  display: flex;
  justify-content: center;
  flex-flow: column;
  .new-step {
    align-self: center;
    margin-bottom: 40px;
    &::after {
      content: "+";
    }
  }
  .play {
    position: fixed;
    bottom: 30px;
    right: 30px;
    &::after {
      content: "\25BA";
    }
  }
}

.step {
  background: $dark;
  color: $primary;
  width: 70vw;
  align-self: center;
  min-height: 200px;
  margin-bottom: 40px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 0 0 25px 25px;
  .position, .orientation {
    display: flex;
  }
  .delete {
    width: 45px;
    height: 45px;
    border-radius: 0 0 0 100%;
    border: none;
    background: $primary;
    position: relative;
    margin-bottom: -45px;
    float: right;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    &:focus {
      outline: none;
    }
    &::after {
      content: "X";
      color: $dark;
    }
  }
}

#editor {
  .player {
    width: 100vw;
    height: 100vh;
    background: $dark;
    top: 0;
    position: fixed;
    iframe {
      width: 100% !important;
      height: 100% !important;
      border: none;
    }
  }
}


#view {
  .player-wrapper {
    width: 100vw;
    height: calc(70vh - 50px);
    //background: $dark;
    .player {
      width: 100%;
      height: 100%;
    }
    iframe {
      width: 100% !important;
      height: 100% !important;
      border: none;
    }
    .full-screen {
      display: inline-block;
      cursor: pointer;
      width: 10px;
      height: 10px;
      border: dashed 2px #eee037;
      position: relative;
      top: -25px;
      right: 5px;
      float: right;
    }
  }
  .author-info {
    display: flex;
    padding: 15px;
    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 100%;
    }
    .name {
      color: $dark;
      align-self: center;
      margin-left: 10px;
    }
  }
}
#index {
  padding-top: 25px;
  color: $dark;
  h2 {
    color: $dark;
    margin: 10px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }
  .description p {
    a {
      color: #5c6bc0;
    }
    margin: 25px;
    text-align: center;
    font-size: 1.5em;
  }
}

#index .list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 288px);
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
  .preview {
    margin: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 0 0 10px 10px;
    background: $dark;
    img {
      width: 256px;
      height: 144px;
    }
    .owner-box {
      border-top: solid 1px $primary;
      display: flex;
      img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin: 10px;
      }
      p {
        align-self: center;
        .by {
          color: $secondary;
        }
        a {
          color: $primary;
        }
      }
    }
  }
}

#layout {
  width: 100vw;
  height: 100vh;
  .header {
    height: 50px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    .logo {
      cursor: pointer;
      display: inline-block;
      margin-left: 15px;
      height: 50px;
      width: 90px;
      background: url("assets/logo.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center;
    }
    .login {
      float: right;
      right: calc((50px - 32px) / 2);
      top: calc((50px - 32px) / 2);
      width: 200px;
    }
    .user {
      width: 200px;
    }
  }
  .plus {
    position: fixed;
    bottom: 30px;
    right: 30px;
    &::after {
      content: "+";
    }
  }
}

#profile-page {
  .user {
    display: flex;
    max-width: 700px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    img {
      width: 100px;
      height: 100px;
      border-radius: 100%;
    }
    h3 {
      color: $dark;
      display: inline-block;
      align-self: center;
      margin-left: 5px;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    .preview {
      margin: 25px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      .edit {
        display: inherit;
        width: 30px;
        height: 30px;
        background: $dark;
        border-radius: 0 7px 0 0;
        position: relative;
        margin-bottom: -30px;
        bottom: 30px;
        &::after {
          content: "\00270e";
          font-size: 30px;
          color: $primary;
        }
      }
    }
  }
}

input {
  margin: 0 10px;
  width: calc(100% - 20px);
  display: block;
  border: none;
  padding: 20px 0 10px 0;
  border-bottom: solid 1px $primary;
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $primary 4%);
  background-position: -100% 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: darken($primary, 20%);
  &::-webkit-input-placeholder {
   color: $primary; 
   font-size: 11px;
  }
  &:focus {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder {
      transform: translateY(-20px);
      visibility: visible !important;
    }
  }
}

.btn-icon {
  height: 45px;
  width: 45px;
  border-radius: 22.5px;
  border: none;
  background: $dark;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
  font-size: 25px;
  &:focus {
    outline: none;
  }
  &::after {
    color: $primary;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.button {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 32px;
  line-height: 32px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #fff;
  color: #646464;
  cursor: pointer;
}

.button.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button.raised:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}

.button.blue {
  background-color: #4285f4;
  color: #fff;
}

.center {
  text-align: center;
}

.drop {
  position: relative;
  ul {
    background: $secondary;
    padding: 0;
    position: absolute;
    left: 0;
    top: 2em;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: 0 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    li {
      display: block;
      width: 100%;
      a {
        width: 100%;
        padding: 1em 18px;
        display: inline-block;
        white-space: pre;
        box-sizing: border-box;
        &:hover {
          background: $dark;
          color: $primary;
        }
      }
    }
  }
  &:hover {
    ul {
      transform: scale(1);
    }
  }
}

a, li {
  color: $dark;
  text-decoration: none;
}

// Spinner

.loader {
  color: $dark;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

