.story-arrow{
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 17px solid rgba(250, 250, 250, 0.7);
	position: absolute;
	top: -17px;
	left: calc(50% - 60px);
}

#storyline-items{
	position: relative;
	width: 100%;
	height: 66%;
	/*background-color: #30cccc;*/
	top: 16.5%;
	justify-content: center;
	justify-items: center;
}

.storyline-item{
	position: absolute;
	background-color: #cccc30;
}


.storyline-item:nth-child(1){
	width: 200px;
	height: 150px;
	left: calc(50% - (200px + 10px + 267px + 10px + 200px));
	top: calc(50% - 75px);
	opacity: 0.4;
}

.storyline-item:nth-child(2){
	width: 267px;
	height: 200px;
	left: calc(50% - 267px - 200px - 10px);
	top: calc(50% - 100px);
	opacity: 0.7;
}

.storyline-item:nth-child(3){
	width: 400px;
	height: 300px;
	left: calc(50% - 200px);
	top: calc(50% - 150px);
}

.storyline-item:nth-child(4){
	width: 267px;
	height: 200px;
	right: calc(50% - 267px - 200px - 10px);
	top: calc(50% - 100px);
	opacity: 0.7;
}

.storyline-item:nth-child(5){
	width: 200px;
	height: 150px;
	right: calc(50% - (200px + 10px + 267px + 10px + 200px));
	top: calc(50% - 75px);
	opacity: 0.4;
}

#story-btns-wrapper{
	display: inline-block;
	border-right: solid 1px #ccc;
	height: calc(100% - 75px);
	width: 200px;
	padding: 35px;
	position: absolute;
}

#story-btns-wrapper > div{
	width: 200px;
}

#story-editor-wrapper{
	display: inline-block;
	width: calc(100% - 300px);
	padding-left: 15px;
	position: absolute;
	left: 265px;
	top: 35px;
}
