@keyframes openThumbnails{
	0% {
		transform: translateY(65px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes openThumbnails {
	0% {
		transform: translateY(65px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.page-play #thumbnails-wrapper{
	display: none;
}

#thumbnails-wrapper{
	position: fixed;
	width: 60%;
	height: 80px;
	left: calc(20%);
	bottom: 23px;
	border-radius: 45px 45px 0 0!important;
	padding-left: 45px;
	padding-right: 45px;
	transform: translateY(65px);
}

#thumbnails-wrapper.open, #thumbnails-wrapper:hover{
	-webkit-animation: 250ms ease-in-out 0s alternate openThumbnails;
			animation: 250ms ease-in-out 0s alternate openThumbnails;
	transform: translateY(0);
	opacity: 1;
}

#thumbnails-wrapper.open #thumbnails-list,
#thumbnails-wrapper:hover #thumbnails-list{
	opacity: 1;
}

#thumbnails-wrapper .toogleThumb{
	position: absolute;
	width: calc(100% - 90px);
	height: 15px;
	left: 45px;
	top: 0;
	cursor: pointer;
}

#thumbnails-list{
	overflow-y: hidden;
	overflow-x: auto;
	white-space:nowrap;
	transition: all 250ms cubic-bezier(.25,.8,.25,1);
	opacity: 0;
	margin-top: -5px;
	padding-top: 5px;
	padding-bottom: 10px;
	transform: translateY(-87px);
}

#thumbnails-list .thumbnail{
	display: inline-block;
	width: 80px;
	height: 50px;
	margin-right: 15px;
	margin-top: 15px;
	/*background-color: #30cccc;*/

	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#thumbnails-list .thumbnail{
	opacity: 0.5;
	position: relative;
    /*top: -50px;*/
}
#thumbnails-list .thumbnail:hover{
	opacity: 0.7;
}
#thumbnails-list .thumbnail.selected{
	opacity: 1;
}

#thumbnails-list .thumbnail.selected canvas{
	opacity: 1;
}

#thumbnails-list .thumbnail:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#thumbnails-list .thumbnail.selected{
	/*width: 55px;
	height: 55px;*/
}

#thumbnails-list .thumbnail:first-child{
	margin-left: 15px;
}

#thumbnails-list .thumbnail .num{
	position: relative;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 20px;
    border-radius: 6px;
    left: 20px;
    top: 35px;
    background-color: rgba(0, 0, 0, 0.54);
    color: #fff;
}

#thumbnails-list .add::after{
	content: '+';
}

#thumbnails-list .thumbnail .add{
	position: relative;
	width: 30px;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.54);
	color: #fff;
	top: -10px;
	left: 75px;
	border-radius: 90px;

	text-align: center;
	vertical-align: middle;
	line-height: 30px;

	box-shadow:0 10px 10px rgba(0,0,0,0.22);
	opacity: 0;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);

	cursor: pointer;
}

#thumbnails-list .thumbnail .add:hover{
	opacity: 1;
}

#thumbnails-list .thumbnail:nth-last-child(2) .add{
	cursor: inherit;
	opacity: 0 !important;
	width: 0;
}

#thumbnails-list > .add{
	display: inline-block;
	position: relative;
	width: 55px;
	height: 45px;
	top: -10px;
	font-size: 65px;

	text-align: center;
	vertical-align: middle;
	line-height: 45px;

	/*background-color: #fff;*/
	color: rgba(0, 0, 0, 0.54);
	box-shadow: none;
	cursor: pointer;
}

#thumbnails-list .thumbnail:last-child .add::after{
	content: '+';
}
